.header {
    background: #999;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.container{
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

